<a href="https://colab.research.google.com/github/irina-melianiuk/Python-seminar/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [10]:
df = pd.read_csv('sample_data/california_housing_train.csv')

Задача 40: Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

In [11]:
df[df['population']<501]['median_house_value'].mean()

206799.95140186916

In [15]:
df[df['population']<501]['median_house_value'].agg(['mean'])

mean    206799.951402
Name: median_house_value, dtype: float64

Задача 42: Узнать какая максимальная households в зоне минимального значения population.

In [13]:
df[df['population']==df['population'].min()]['households'].max()

4.0

In [14]:
df[df['population']==df['population'].min()]['households'].agg(['max'])

max    4.0
Name: households, dtype: float64